* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

#carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carousel-area {
  width: 970px;
  overflow: hidden;
  margin: 0 5px;
}

#carousel-area ul {
  display: flex;
  margin: 0 5px;
}

#carousel-area li {
  margin: 10px 5px;
}

button {
  width: 60px;
  height: 25px;
  border-radius: 5px;
}