* {
  margin: 0;
  padding: 0;
}

ul,li {
  list-style: none;
}

#slider {
  display: flex;
  padding: 30px;
  justify-content: center;
}

#thumnail-list ul {
  margin-right: 30px;
}

#thumnail-list li {
  width: 100px;
  height: 100px;
  border-radius: 55px;
  padding: 2px;
  border: solid 3px #dddddd;
  margin-bottom: 10px;
}

#thumnail-list img {
  border-radius: 50px;
}

#thumnail-list .selected {
  border-color: #0080ff;
}